<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        新規ペット情報
      </h1>
    </div>
  </div>
</section>

<% if @pet.errors.any? %>
  <div class="notification is-danger">
    <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this object from being saved: not successfully</h2>
    <ul>
      <% @pet.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= form_for @pet do |f| %>
          <div class="field">
            <%= f.label :title, "ペット名", class: "label" %>
            <%= f.text_field :title, class: "input" %>
          </div>

          <div class="field">
            <%= f.label :body, "情報", class: "label" %>
            <%= f.text_area :body, class: "textarea" %>
          </div>

          <div class="field">
            <%= f.label :image, "写真", class: "label" %>
            <%= f.file_field :image, class: "input" %>
          </div>

          <%= f.submit '投稿', class: "button is-success" %>
        <% end %>
      </div>
    </div>
  </div>
</section>